mat-sidenav{
    background-color: rgba(241, 241, 241, 0.682);
}

mat-expansion-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-expansion-panel-header{
    height: 100%;
}

a[mat-raised-button]{
    color: white;
}